body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    
  }
  .shadow-inset-bl {
        -webkit-animation: shadow-inset-bl 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: shadow-inset-bl 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    @-webkit-keyframes shadow-inset-bl {
        0% {
          -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
                  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
          -webkit-box-shadow: inset 6px -6px 14px -6px rgba(0, 0, 0, 0.5);
                  box-shadow: inset 6px -6px 14px -6px rgba(0, 0, 0, 0.5);
        }
      }
      @keyframes shadow-inset-bl {
        0% {
          -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
                  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
          -webkit-box-shadow: inset 6px -6px 14px -6px rgba(0, 0, 0, 0.5);
                  box-shadow: inset 6px -6px 14px -6px rgba(0, 0, 0, 0.5);
        }
      }
      .shadow-inset-bl {
        -webkit-animation: shadow-inset-bl 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: shadow-inset-bl 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    @-webkit-keyframes shadow-inset-bl {
        0% {
          -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
                  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
          -webkit-box-shadow: inset 6px -6px 14px -6px rgba(0, 0, 0, 0.5);
                  box-shadow: inset 6px -6px 14px -6px rgba(0, 0, 0, 0.5);
        }
      }
      @keyframes shadow-inset-bl {
        0% {
          -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
                  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
          -webkit-box-shadow: inset 6px -6px 14px -6px rgba(0, 0, 0, 0.5);
                  box-shadow: inset 6px -6px 14px -6px rgba(0, 0, 0, 0.5);
        }
      }
    nav{
        
       
        margin-left: 1rem;
        margin-right: 1rem;
        height: 6rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius: 1rem;
    }
    
    .navbar-brand{
        padding-left: 1rem;
        font-size: 4rem;
        
        color: black;
    }
    .nav-link{
        font-size: 1.8rem;
        color: black;
        margin-right: 1rem;
        
    }
    .hvr-float-shadow {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
      }
      .hvr-float-shadow:before {
        pointer-events: none;
        position: absolute;
        z-index: -1;
        content: '';
        top: 100%;
        left: 5%;
        height: 10px;
        width: 90%;
        opacity: 0;
        background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
        background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
        /* W3C */
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform, opacity;
        transition-property: transform, opacity;
      }
      .hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
        
      }
      .hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
        opacity: 1;
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
        }
    
      
    .merienda-a {
        font-family: "Merienda", cursive;
        font-optical-sizing: auto;
        font-weight: 100;
        font-style: normal;
      }
      
      .tangerine-bold {
        font-family: "Tangerine", cursive;
        font-weight: 900;
        font-style: normal;
      }
      




  .bounce-in-top {
    -webkit-animation: bounce-in-top 2s ease-out both;
            animation: bounce-in-top 2s ease-out both;
  }
  @-webkit-keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  
  .container {
       
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .form-control {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
    color: #333;
  }
  
  select.form-control {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
  }
  
  
  
  .btn-primary {
    display: block;
    margin-top: 30px;
    margin-left: 250px;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
  }
  .images {
    display: flex;
    /* height:auto; */
    /* width: 100%; */
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  .images img {
    margin: 0 10px;
    height: 150px;
    width: 150px;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
